.completed {
    width: 400px;
    height:250px;
    border-radius: 10px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -45%);
    box-shadow: 6px 6px 15px #000;
    display: none;
    position: absolute;
    text-align: center;
    color: #fff;
    background: green;
}

.completed p {
    margin: 50px 0;
    font-size: 40px;
    font-family: 'Segoe UI';
}

.completed a {
    width: 80px;
    padding: 10px;
    font-size: 15px;
    border-radius: 10px;
    text-decoration: none;
    background: #fff;
    color: #000;
}

.incompleted {
    width: 400px;
    height:250px;
    border-radius: 10px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -45%);
    box-shadow: 6px 6px 15px #000;
    display: none;
    position: absolute;
    text-align: center;
    color: #fff;
    background: red;
}

.incompleted p {
    margin: 35px 0;
    font-size: 25px;
    font-family: 'Segoe UI';
}

.incompleted a {
    width: 150px;
    padding: 10px;
    font-size: 15px;
    border-radius: 10px;
    text-decoration: none;
    background: #fff;
    color: #000;
}