.creditCard {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.creditCard div:first-child {
  margin: 1em 0;
  padding: 1em;
  height: 7em;
  width: 11em;
  border-radius: 20px;
  -webkit-transition: background 0.5s;
  transition: background 0.5s;
  background: #8e2de2; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to left,
    #4a00e0,
    #8e2de2
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to left,
    #4a00e0,
    #8e2de2
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.creditCard div:first-child[data="american"] {
  /* https://cssgradient.io/ */
  background: rgb(102, 187, 106);
  background: linear-gradient(
    180deg,
    rgba(102, 187, 106, 1) 23%,
    rgba(56, 142, 60, 1) 35%
  );
}

.creditCard div:first-child[data="diners"] {
  background: rgb(255, 152, 0);
  background: linear-gradient(
    180deg,
    rgba(255, 152, 0, 1) 23%,
    rgba(239, 108, 0, 1) 35%
  );
}

.creditCard div:first-child[data="mastercard"] {
  background: rgb(3, 169, 244);
  background: linear-gradient(
    180deg,
    rgba(3, 169, 244, 1) 23%,
    rgba(2, 136, 209, 1) 35%
  );
}

.creditCard div:first-child[data="visa"] {
  background: rgb(212, 225, 87);
  background: linear-gradient(
    180deg,
    rgba(212, 225, 87, 1) 23%,
    rgba(175, 180, 43, 1) 35%
  );
}
