body {
  background-color: #282c34;
}

.App {
  min-height: 100vh;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App header {
  display: flex;
  align-items: center;
}

.App header > span:first-child {
  margin: 0.5em;
  width: 1.5em;
  height: 1.5em;
  text-align: center;
  text-justify: auto;
  font-size: larger;
  border-radius: 150px;
  background: #282c34;
  box-shadow: 6px 6px 12px #1e2127, -6px -6px 12px #323741;
  cursor: pointer;
}

.flex-creditCard {
  width: 60%;
  margin: 5% auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.creditCard div:first-child {
  margin: 1em 0;
  padding: 1em;
  height: 8em;
  width: 14em;
  border-radius: 20px;
  -webkit-transition: background 0.5s;
  transition: background 0.5s;
  background: #8e2de2; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to left,
    #4a00e0,
    #8e2de2
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to left,
    #4a00e0,
    #8e2de2
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.creditCard div:first-child[data="american"] {
  /* https://cssgradient.io/ */
  background: rgb(102, 187, 106);
  background: linear-gradient(
    180deg,
    rgba(102, 187, 106, 1) 23%,
    rgba(56, 142, 60, 1) 35%
  );
}

.creditCard div:first-child[data="diners"] {
  background: rgb(255, 152, 0);
  background: linear-gradient(
    180deg,
    rgba(255, 152, 0, 1) 23%,
    rgba(239, 108, 0, 1) 35%
  );
}

.creditCard div:first-child[data="mastercard"] {
  background: rgb(3, 169, 244);
  background: linear-gradient(
    180deg,
    rgba(3, 169, 244, 1) 23%,
    rgba(2, 136, 209, 1) 35%
  );
}

.creditCard div:first-child[data="visa"] {
  background: rgb(212, 225, 87);
  background: linear-gradient(
    180deg,
    rgba(212, 225, 87, 1) 23%,
    rgba(175, 180, 43, 1) 35%
  );
} 

.creditCard p {
  margin: 5px 0;
}

.creditCard p:first-child {
  margin: 18px 0;
}

.creditCard span {
  width: 100%;
  display: flex;
}

.creditCard span p:first-child {
  margin: 5px 90px 0 0;
}

.creditCardForm {
  width: 14em;
  margin: 0 0 20px 120px;
  border-radius: 14px;
  background: linear-gradient(145deg, #24282f, #2b2f38);
  box-shadow: 13px 13px 26px #1e2127, -13px -13px 26px #323741;
}

.creditCardForm fieldset {
  border: none;
}

.creditCardForm fieldset label {
  margin: 0.5em 0;
  color: gray;
  font-size: medium;
}

.creditCardForm .info_user input {
  color: white;
  margin: 0.5em 0;
  padding: 3px;
  width: 100%;
  background-color: transparent;
  border: none;
  border-bottom: 1px solid gray;
}

.creditCardForm fieldset input:focus {
  outline: none;
  border-bottom: 1px solid #000;
  transition: border-bottom .6s;
  background: transparent;
}

.creditCardForm div {
  display: flex;
}

.creditCardForm div button {
  width: 40%;
  padding: 6px;
  margin: 10px auto 20px auto;
  border: 0;
  border-radius: 10px;
  font-size: medium;
  cursor: pointer;
  color: gray;
  background: #323741;
}

.error {
  display: none;
}

.CodeBarra {
  width: 100%;
  height: 50px;
  margin: 25px 0 0 0;
  background: #000;
}

.codeCard {
  width: 70px;
  height: 30px;
  top: 50%;
  left: 75%;
  padding: 5px;
  position: absolute;
  display: block;
  text-align: center;
  background: #333;
}

.flex-date-user {
  width: 100%;
  display: flex;
}

.flex-date-user p {
  margin: 19px;
}

.flex-date-user:first-child {
  width: 20%;
}

.flex-date-user:nth-child(2) {
  width: 90%;
}


/* ------style animation flip-------- */

.flip-card {
  background-color: transparent;
  width: 15em;
  height: 13em;
  border: 1px solid #282c34;
  perspective: 2000px; /* Remove this if you don't want the 3D effect */
}

.flip-card span {
  display: block;
  text-align: center;
}

/* This container is needed to position the front and back side */
.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

/* Do an horizontal flip when you move the mouse over the flip box container */
.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

/* Position the front and back side */
.flip-card-front, .flip-card-back {
  border-radius: 20px;
  margin: 23px 0 0 -20px;
  position: absolute;
  width: 15em;
  height: 10em;
  -webkit-backface-visibility: hidden; /* Safari */
  backface-visibility: hidden;
}

/* Style the front side (fallback if image is missing) */
.flip-card-front {
  background-color: #bbb;
  color: black;
}


/* Style the back side */
.flip-card-back {
  width: 107%;
  height: 77%;
  transform: rotateY(180deg);
  background: linear-gradient( to left, #4a00e0, #8e2de2 );
}

.flip-card-back[data="mastercard"] {
  background: rgb(3, 169, 244);
  background: linear-gradient(
    180deg,
    rgba(3, 169, 244, 1) 23%,
    rgba(2, 136, 209, 1) 35%
  );
}

.flip-card-back[data="visa"] {
  background: rgb(212, 225, 87);
  background: linear-gradient(
    180deg,
    rgba(212, 225, 87, 1) 23%,
    rgba(175, 180, 43, 1) 35%
  );
} 

.flip-card-back[data="diners"] {
  background: rgb(255, 152, 0);
  background: linear-gradient(
    180deg,
    rgba(255, 152, 0, 1) 23%,
    rgba(239, 108, 0, 1) 35%
  );
}

.flip-card-back[data="american"] {
  /* https://cssgradient.io/ */
  background: rgb(102, 187, 106);
  background: linear-gradient(
    180deg,
    rgba(102, 187, 106, 1) 23%,
    rgba(56, 142, 60, 1) 35%
  );
}


/* ----Tablet responsive measures---- */

@media screen and (max-width: 1200px) {
  .flex-creditCard {
    width: 50%;
    margin: auto;
    flex-wrap: wrap;
  }

  .creditCardForm {
    margin: 90px auto;
  }

   /* Styles responsives card */

  .flip-card{
    width: 16em;
  }

  .flip-card-back {
    width: 100%;
    margin: 20px auto;
  }
}


/* ----Mobile responsive measures---- */

@media screen and (max-width: 600px) {

  .flex-creditCard {
    width: 100%;
    flex-wrap: wrap;
  }

  .creditCardForm {
    width: 70%;
    margin: 60px auto;
  }

  /* Styles responsives card */

  .flip-card{
    width: 100%;
  }

  .flex-creditCard{
    display: flex;
  }

  .flip-card-inner{
    width: 70%;
    margin: auto;
    display: block;
  }

  .flip-card-front {
    width: 88% !important;
  }

  .flip-card-back {
    width: 100%;
    margin: 20px auto;
  }

  .codeCard{
    left: 73%;
  }
}