body {
  background-color: #282c34;
}

.App {
  min-height: 100vh;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App header {
  display: flex;
  align-items: center;
}

.App header > span:first-child {
  margin: 0.5em;
  width: 1.5em;
  height: 1.5em;
  text-align: center;
  text-justify: auto;
  font-size: larger;
  border-radius: 150px;
  background: #282c34;
  box-shadow: 6px 6px 12px #1e2127, -6px -6px 12px #323741;
  cursor: pointer;
}

.error {
  display: none;
}











